*.[aod]
*.DS_Store
.DS_Store
*Thumbs.db
.flowconfig
.watchmanconfig
/**/npm-debug.log
node_modules
package-lock.json
*.apk
/**/*.iml
/**/build
/**/*xcshared*
/**/*xcuserdata*
/**/.svn
/**/.gradle
/resource
/server/public/download
*.idea
1.*
/**/public/
/image
